<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
    <link href="https://fonts.googleapis.com/css2?family=League+Script&family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <style>
        *{box-sizing: border-box; text-align: center;}
        body {
        
  background-color: #FFFFFF;
  background-image: url("https://res.cloudinary.com/charlene04/image/upload/v1600532444/ecx_cert_lyetl0.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  height: 575px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info {
  width: 85%;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.sub-info-1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 1rem;
  margin-top: 50px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
}

.name {
  font-size: 2.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.sub-info-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content:space-evenly;
  margin-top: 20px;
}
.track{
  font-size: 2.4rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}
.exco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 200px;
}
.position {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
}
.signature {
  font-size: 1rem;
  font-family: 'League Script', cursive;
}

.signature span {
font-weight: bold;
  bottom: -10px;
}
hr.underline{ width: 90%; color: lawngreen; border: 1px solid; }

.exco-name{
    font-family: 'Orbitron', sans-serif;
}
    </style>
</head>
<body>
    <div class="container">
        <div class="info">
            <h1>CERTIFICATE</h1>
            <h1 style="margin: 0; font-size: 2rem;">OF COMPLETION</h1>
            <div class="sub-info-1">
                <div>This certificate is awarded to</div>
                <div class="name"><%-student.toUpperCase()%></div>
                <div>for successfully completing the virtual internship at Engineering Career Expo, ECX 2.0 from August 2020 to September 2020</div>
                <div>in</div>
                <div class="track"><%-track.toUpperCase()%></div>
                <div>We have found this intern to be a team player, 
                  hardworking, inquisitive and result oriented, having fully participated in the team tasks.
                </div>

                <div class="sub-info-2">
                    <div class="exco">
                        <div class="signature name"><span>Geektutor</span></div>
                        <hr class="underline">
                        <div class="exco-name">Sodiq Akinjobi</div>
                        <div class="position">CHAIRMAN</div>
                    </div>
                    <div class="exco">
                      <div class="signature name"><span>AbubakarYusuf</span></div>
                      <hr class="underline">
                      <div class="exco-name">Abubakar Yusuf</div>
                      <div class="position">HEAD OF TRAINING</div>
                    </div>
                    <div class="exco">
                        <div class="signature name"><span>IfihanOluseye</span></div>
                        <hr class="underline">
                        <div class="exco-name">Ifihan Oluseye</div>
                        <div class="position">TEAM CO-ORDINATOR</div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>