<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Gayathri:wght@100&family=Orbitron:wght@500&family=League+Script&family=Ubuntu&display=swap" rel="stylesheet">
    <style>
        *{box-sizing: border-box; text-align: center;}
        body {
        
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  /*height: 570px;*/
  height: 100%;
  margin: auto;
  background-image: url("https://res.cloudinary.com/charlene04/image/upload/v1600532630/ecx_Mentor_pcnfx5.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info {
  width: 85%;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.sub-info-1 {
  text-align: center;
  font-family: 'Gayathri', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
  font-family: 'Lobster', cursive;
  margin-bottom: 0;
}

.name {
  font-size: 1.6rem;
  margin-top: 30px;
  font-family: 'Orbitron', sans-serif;
}

.sub-info-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content:space-evenly;
  margin-top: 25px;
}

.exco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.position {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.signature {
  font-family: 'League Script', cursive;
}

.signature span {
font-weight: bold;
  position: relative;
  bottom: -10px;
}
hr.underline{width: 150px; color: lawngreen; background-color: lawngreen;}

.exco-name{
    font-family: 'Orbitron', sans-serif;
}
    </style>
</head>
<body>
    <div class="container">
        <div class="info">
            <h1>CERTIFICATE</h1>
            <h2>OF PARTICIPATION</h2>
            <div class="sub-info-1">
                <div>This certifies that</div>
                <div class="name"><mentor.toUpperCase()%></div>
                <div>provided excellent mentorship during the virtual internship at Engineering Career Expo, ECX 2.0 from August 2020 to September 2020</div>

                <div class="sub-info-2">
                    <div class="exco">
                        <div class="signature name"><span>Geektutor</span></div>
                        <hr class="underline">
                        <div class="exco-name">Sodiq Akinjobi</div>
                        <div class="position">CHAIRMAN</div>
                    </div>
                    <div class="exco">
                      <div class="signature name"><span>AbubakarYusuf</span></div>
                      <hr class="underline">
                      <div class="exco-name">Abubakar Yusuf</div>
                      <div class="position">HEAD OF TRAINING</div>
                    </div>
                    <div class="exco">
                        <div class="signature name"><span>IfihanOluseye</span></div>
                        <hr class="underline">
                        <div class="exco-name">Ifihan Oluseye</div>
                        <div class="position">TEAM CO-ORDINATOR</div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>